@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-gradient-from: #ab06d4;
    --tw-gradient-to: rgb(6 182 212 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #711cd9;
}